* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    330deg,
    rgba(114, 97, 180, 1) 0%,
    rgba(182, 63, 129, 1) 100%
  );
  background-attachment: fixed;
  font-family: "Quicksand";
  font-weight: 400;
  color: rgb(49, 50, 75);
}

div.container {
  background-color: white;
  width: 1280px;
  height: 100vh;
  margin: 90px auto 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: rgb(96, 64, 133) 0px 20px 30px;
  position: relative;
}

/* H E A D E R */

header {
  width: 100%;
  display: flex;
}

/* Logo */

div.logo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding: 35px 110px;
}

i.location-icon-logo {
  color: rgba(182, 63, 129, 1);
  font-size: 50px;
  cursor: pointer;
}

div.logo-txt {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-left: 10px;
}

p.logo-txt-2 {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 8px;
}

/* Location */

div.mid-header {
  margin-top: 20px;
  margin-left: 90px;
}

div.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(189, 187, 209);
}

i.location-icon {
  font-size: 15px;
}

p.location-txt,
p.address,
i.location-icon {
  margin-right: 10px;
}

p.location-txt,
p.address,
i.fa-pen {
  font-size: 12px;
}

p.address {
  color: rgb(49, 50, 75);
  font-weight: 700;
}

i.fa-pen {
  color: rgb(96, 102, 190);
  cursor: pointer;
}

div.question-input-container {
  display: flex;
  align-items: center;
}

input.question-input {
  width: 330px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid rgb(245, 245, 251);
  border-radius: 15px;
}

input.question-input:focus {
  border: 1px solid rgb(96, 102, 190);
}

::placeholder {
  color: rgb(203, 202, 220);
  font-family: "Quicksand";
  padding-left: 20px;
}

i.fa-magnifying-glass {
  color: rgb(189, 187, 209);
  margin-left: -40px;
  cursor: pointer;
}

/* Dishes */

div.floating-dishes-container {
  position: relative;
  margin: 0 40px;
}

img.floating-dishes {
  width: 50px;
  border: 7px solid white;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
}

img.floating-dishes:nth-child(1) {
  z-index: 10;
  transform: translateY(30px);
}

img.floating-dishes:nth-child(2) {
  z-index: 9;
  transform: translateY(19px);
}

img.floating-dishes:nth-child(3) {
  z-index: 8;
  transform: translateY(9px);
}

/* Cart */

div.cart-container {
  width: 250px;
  height: 95px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  position: absolute;
  right: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.cart-details {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(49, 50, 75);
  color: white;
  font-weight: light;
  font-size: 13px;
  transform: translateY(-15px);
}

div.cart-and-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

i.fa-cart-shopping,
p.cart {
  color: rgb(190, 188, 210);
}

p.number-of-dishes {
  text-decoration: underline rgb(190, 188, 210) dashed 1px;
}

p.total-price {
  font-size: 15px;
}

p.cart {
  margin-left: 5px;
}

/* Order button */

button.order {
  background: rgb(231, 49, 98);

  width: 220px;
  height: 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  text-transform: uppercase;
  color: white;
  font-family: "Quicksand";
  font-weight: 500;
  color: white;
  font-weight: light;
  font-size: 12px;
  letter-spacing: 2px;

  transition: background-color 0.5s ease;
}

button.order:hover {
  background: rgb(96, 102, 190);
}

button.order:active {
  background: rgb(231, 49, 98);
}

/* M A I N */

main {
  width: 100%;
  height: 500px;
  background: linear-gradient(
    0deg,
    rgb(242, 243, 247) 0%,
    rgb(255, 255, 255) 50%,
    rgb(242, 243, 247) 100%
  );

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Back to Menu button */

button.menu-button {
  background-color: rgb(49, 50, 75);
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;

  position: absolute;
  z-index: 10;
  top: 190px;

  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 20px;
  cursor: pointer;

  font-family: "Quicksand";
  text-align: right;
  color: white;
  font-weight: light;
  font-size: 13px;

  transition: background-color 0.3s ease;
}

button.menu-button:hover {
  background-color: rgb(69, 70, 107);
}

button.menu-button:active {
  background-color: rgb(49, 50, 75);
}

i.arrow-icon {
  margin-right: 10px;
  vertical-align: middle;
}

/* Main container */

div.main-container {
  margin-left: 100px;
}

img.main-pizza {
  width: 400px;
  border: 50px solid white;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateX(110px) translateY(70px);
}

div.main-container {
  padding-top: 50px;
  padding-left: 40px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
}

div.description-container {
  width: 335px;
}

div.hot-levels {
  display: flex;
  margin-top: 30px;
}

i.pepper-color,
i.pepper-no-color {
  font-size: 20px;
  margin-right: 10px;
}

i.pepper-color {
  color: rgb(231, 49, 98);
}

i.pepper-no-color {
  color: rgb(189, 187, 209);
}

h3.main-product-hot-level {
  font-size: 15px;
  font-weight: 600;
}

p.main-product-description {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 12px;
  text-align: justify;
}

/* Quantity selector */

div.quantity-price {
  display: flex;
  align-items: center;
}

div.quantity-selector {
  width: 163px;
  height: 40px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

span.minus,
span.plus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-weight: 400;
}

span.minus {
  border-right: 2px solid rgb(244, 245, 248);
}

span.plus {
  border-left: 2px solid rgb(244, 245, 248);
}

input.quantity {
  width: 70px;
  height: 40px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-family: "Quicksand";
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

div.price-tag {
  width: 140px;
  height: 40px;
  margin-left: 30px;
  border: 1px solid rgb(235, 234, 241);
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

div.price-tag em {
  color: rgb(231, 49, 98);
  font-style: normal;
  font-weight: 600;
}

span.circle {
  height: 6px;
  width: 6px;
  border: 1px solid rgb(235, 234, 241);
  border-radius: 50%;
  margin-left: 10px;
}

/* Add to cart button */

button.add-to-cart {
  background: rgb(231, 49, 98);

  width: 335px;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  text-transform: uppercase;
  color: white;
  font-family: "Quicksand";
  font-weight: 500;
  color: white;
  font-weight: light;
  font-size: 12px;
  letter-spacing: 2px;

  transition: background-color 0.5s ease;
}

button.add-to-cart:hover {
  background: rgb(96, 102, 190);
}

button.add-to-cart:active {
  background: rgb(231, 49, 98);
}

/* Ingredients */

div.ingredients-container {
  width: 520px;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  position: absolute;
  z-index: 10;
  top: 525px;
  right: 110px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.ingredients-column {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

div.ingredients-row {
  display: flex;
  flex-direction: row;
}

div.ingredient-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

div.ingredients {
  margin-left: 20px;
}

i.ingredient-icon {
  color: rgb(122, 128, 202);
  font-size: 25px;
}

p.quantity {
  color: rgb(189, 187, 209);
  font-size: 10px;
}

p.ingredient {
  font-weight: 600;
  font-size: 12px;
}

/* F O O T E R */

footer {
  height: 500px;
  padding-top: 30px;
  background-color: white;
}

div.back-options {
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 110px;
}

i.fa-chevron-right {
  margin: 0 5px;
  font-size: 9px;
}

p.current-dish-name,
i.chevron-2,
span.feedback-number {
  color: rgb(190, 188, 210);
}

div.back-options a {
  color: rgb(49, 50, 75);
}

div.back-options a:hover {
  color: rgb(190, 188, 210);
}

/* Titles */

section.more-info-and-cards {
  width: 100%;
}

div.more-info-titles {
  display: flex;
  border-bottom: 1px solid rgb(245, 245, 251);
  margin: 45px 110px 140px 110px;
}

div.more-info-titles h2 {
  font-size: 19px;
  font-weight: 400;
  margin-right: 135px;
  cursor: pointer;
}

div.more-info-titles h2:nth-child(1) {
  max-width: 50vw;
  padding-bottom: 15px;
  position: relative;
}
div.more-info-titles h2:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  background: rgb(96, 102, 190);
  height: 5px;
  border-radius: 10px;
}

/* Cards */

div.cards-container {
  width: 100%;
  height: 125px;
  background: linear-gradient(
    0deg,
    rgb(242, 243, 247) 0%,
    rgb(255, 255, 255) 50%,
    rgb(242, 243, 247) 100%
  );
  display: flex;
  justify-content: center;
}

div.card {
  width: 245px;
  height: 215px;
  margin-left: 30px;

  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;

  position: relative;
  top: calc(50% - 107.5px);

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card img {
  width: 100px;
  border: 20px solid white;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  bottom: 145px;
  left: calc(50% - 72.5px);
}

div.card i.fa-circle-info {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgb(189, 187, 209);
  cursor: pointer;
}

div.card h4.dish-title {
  font-size: 15px;
  margin-top: 40px;
}

div.card p.dish-description {
  font-size: 12px;
  color: rgb(190, 188, 210);
}

div.card div.price-tag {
  width: 60px;
  height: 30px;
  border: 1px solid rgb(235, 234, 241);

  font-size: 15px;

  margin-top: 20px;
  margin-right: 20px;
  padding: 0 5px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

div.card div.price-tag span.circle {
  height: 4px;
  width: 4px;
  border: 1px solid rgb(235, 234, 241);
  border-radius: 50%;
}

span.plus-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(231, 49, 98);
  box-shadow: rgba(231, 49, 98, 0.5) 0px 5px 8px 0px;
  border-radius: 100%;
  position: absolute;
  left: calc(50% - 20px);
  bottom: -20px;

  font-size: 30px;
  font-weight: 100;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.5s ease;
}

span.plus-button:hover {
  background: rgb(96, 102, 190);
  box-shadow: rgba(96, 102, 190, 0.5) 0px 5px 8px 0px;
}

span.plus-button:active {
  background: rgb(231, 49, 98);
  box-shadow: rgba(231, 49, 98, 0.5) 0px 5px 8px 0px;
}